[user]
	name = Steven Byrnes
	email = steven@byrnes.org

[pull]
        ff = only

[diff]
    colorMoved = default

[core]
    pager = delta

[delta]
     syntax-theme = Dracula
     line-numbers = true
#    side-by-side = true

[interactive]
     diffFilter = delta --color-only

[include]
     path = ~/.gitconfig-local
